.title{
    color: rgb(153, 51, 20);
    font-size: 60px;
    font-weight: 200;
    background-color: bisque;
    padding: 20px;
    border-radius: 4rem;
    box-sizing: border-box;
    border-style: dashed;
    border-color: rgba(219, 153, 30, 0.582);
    text-align: center;
}

img {
    border-radius: 20%;
    border: 2px solid rgb(212, 123, 13);
    padding: 5px;
    width: fit-content;
    box-shadow: 0.7rem -0.7rem 8px 0.2rem rgba(146, 107, 34, 0.22), 0 6px 20px 0 rgba(219, 153, 30, 0.582);
    image-rendering: optimizeQuality;
    margin: 10px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgb(175, 141, 66);
}

.description{
    color: rgb(153, 51, 20);
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: rgb(231, 153, 129);
    background-color: bisque;   
}

p{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

}

.ingredients{
    color: rgb(153, 51, 20);
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: rgb(231, 153, 129);
    background-color: bisque;  
}

.method{
    color: rgb(153, 51, 20);
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: rgb(231, 153, 129);
    background-color: bisque; 
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.step{
    font-size: 40px;
    text-decoration: underline;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.block,
li{
    border: 2px solid rgb(231, 153, 129);
    padding: 2px;
    background-color: bisque;
    opacity: 78%;
}

.box,
li{
    margin: 0 2em 0 2em;
}
